@using Newtonsoft.Json;
@model Unstop.Models.VM.ApplicantsVM;

@{
    string prevUrl = Url.Action("Applicants", "Company", new { jobId = Model.Job.JobId, status = ViewBag.Status.ToArray(), pageNumber = (Model.Pagination.PageNumber - 1), pageSize = Model.Pagination.PageSize, sortOrder = ViewBag.SortOrder, search = ViewBag.Search });
    string nextUrl = Url.Action("Applicants", "Company", new { jobId = Model.Job.JobId, status = ViewBag.Status.ToArray(), pageNumber = (Model.Pagination.PageNumber + 1), pageSize = Model.Pagination.PageSize, sortOrder = ViewBag.SortOrder, search = ViewBag.Search });

    string asc = @ViewBag.SortOrder == "asc" ? "active" : "";
    string desc = @ViewBag.SortOrder == "desc" ? "active" : "";
    string applied = "", reviewed = "", scheduled = "", interviewed = "", offered = "", accepted = "", declined = "", rejected = "", withdrawn = "";

    if (ViewBag.Status != null)
    {
        applied = @ViewBag.Status.Contains("Applied") ? "checked" : "";
        reviewed = @ViewBag.Status.Contains("Reviewed") ? "checked" : "";
        scheduled = @ViewBag.Status.Contains("Interview Scheduled") ? "checked" : "";
        interviewed = @ViewBag.Status.Contains("Interviewed") ? "checked" : "";
        offered = @ViewBag.Status.Contains("Job Offered") ? "checked" : "";
        accepted = @ViewBag.Status.Contains("Accepted") ? "checked" : "";
        declined = @ViewBag.Status.Contains("Declined") ? "checked" : "";
        rejected = @ViewBag.Status.Contains("Rejected") ? "checked" : "";
        withdrawn = @ViewBag.Status.Contains("Withdrawn") ? "checked" : "";
    }
}

<div class="row m-2">
    <div class="col-md-3 col-12 my-2">
        <input type="text" id="applicantSearchInput" value="@ViewBag.Search" class="rounded-pill border border-2 py-2 ps-3 w-100" placeholder="Search..." onkeyup='seachApplicants(this.value, @Model.Job.JobId, "@ViewBag.SortOrder", @Html.Raw(JsonConvert.SerializeObject(ViewBag.Status ?? new List<string>())), false, "@ViewBag.PageSize")' />
    </div>
    <div class="col-md-9 col-12 d-flex justify-content-end gap-3 my-2">
        <div class="btn-group">
            <button class="btn dropdown-toggle rounded-pill py-2 px-3 shadow-none border border-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <ul class="dropdown-menu dropdown-menu-md-end">
                <li>
                    <button type="button" class="dropdown-item @desc" onclick='seachApplicants("@ViewBag.Search", @Model.Job.JobId, "desc", @Html.Raw(JsonConvert.SerializeObject(ViewBag.Status ?? new List<string>())), false, "@ViewBag.PageSize")'>
                        Applied Date ( Latest First )
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item @asc" onclick='seachApplicants("@ViewBag.Search", @Model.Job.JobId, "asc", @Html.Raw(JsonConvert.SerializeObject(ViewBag.Status ?? new List<string>())), false, "@ViewBag.PageSize")'>
                        Applied Date ( Oldest First )
                    </button>
                </li>
            </ul>
        </div>

        <button type="button" class="btn btn-primary rounded-pill py-2 px-3 shadow-none" data-bs-toggle="modal" data-bs-target="#applicantFilterModal"><i class="fa-solid fa-filter"></i> Filters</button>
    </div>
</div>

@if (Model.Applicants != null)
{
    @if (@Model.Applicants.Count() != 0)
    {
        <div class="container table-responsive mt-5" style="min-height: 300px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Applicant Name</th>
                        <th scope="col" class="text-center">Birthdate</th>
                        <th scope="col" class="text-center">Gender</th>
                        <th scope="col" class="text-center">Phone</th>
                        <th scope="col" class="text-center">LinkedIn</th>
                        <th scope="col" class="text-center">Address</th>
                        <th scope="col" class="text-center">Applied Date</th>
                        <th scope="col" class="text-center">Resume</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var applicant in Model.Applicants)
                    {
                        <tr>
                            <td class="text-center">@applicant.Candidate.FullName</td>
                            <td class="text-center">@applicant.Candidate.DateOfBirth.ToString("dd MMM, yyyy")</td>
                            <td class="text-center">@applicant.Candidate.Gender</td>
                            <td class="text-center">@applicant.Candidate.PhoneNumber</td>
                            <td class="text-center">@applicant.Candidate.LinkedInProfile</td>
                            <td class="text-center">@applicant.Candidate.Address</td>
                            <td class="text-center">@applicant.AppliedDate.ToString("dd MMM, yyyy")</td>
                            <td class="text-center">
                                <button class="btn border border-2 border-black shadow-none" onclick="openResume(@applicant.ApplicationId, @applicant.JobId)">
                                    <i class="fa-solid fa-file"></i> View
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-info rounded-2">
                                    @applicant.Status
                                </button>
                            </td>
                            @if (applicant.Status != "Withdrawn" && applicant.Status != "Rejected" && applicant.Status != "Accepted" && applicant.Status != "Declined")
                            {
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-circle-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            @if (applicant.Status == "Applied")
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" onclick="openReviewConfirmation(@applicant.ApplicationId, @applicant.JobId)">
                                                        <i class="fa-solid fa-square-check me-2"></i> Review
                                                    </button>
                                                </li>
                                            }
                                            @if (applicant.Status == "Reviewed")
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" onclick="openInterviewSchedulingModal(@applicant.ApplicationId, @applicant.JobId, '@Model.Job.Title', '@Model.Job.Company', '@applicant.Candidate.FullName')">
                                                        <i class="fa-solid fa-calendar me-2"></i> Schedule Interview
                                                    </button>
                                                </li>
                                            }
                                            @if (applicant.Status == "Interview Scheduled")
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" onclick="openInterviewDone(@applicant.ApplicationId, @applicant.JobId)">
                                                        <i class="fa-solid fa-calendar-check me-2"></i> Interviewed
                                                    </button>
                                                </li>
                                            }
                                            @if (applicant.Status == "Interviewed")
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" onclick="openOfferJobModal(@applicant.ApplicationId)">
                                                        <i class="fa-solid fa-handshake me-2"></i> Offer Job
                                                    </button>
                                                </li>
                                            }
                                            <li>
                                                <button class="dropdown-item" type="button" onclick="openRejectConfirmation(@applicant.ApplicationId, @applicant.JobId)">
                                                    <i class="fa-solid fa-square-xmark me-2"></i> Reject
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row mt-5 mb-5 pb-5">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <p class="mb-3">
                    Page @Model.Pagination.PageNumber Out of @Model.Pagination.TotalPages
                </p>
                <ul class="pagination">
                    <li class="page-item @(Model.Pagination.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link shadow-none" href="@prevUrl">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                    {
                        <li class="page-item @(Model.Pagination.PageNumber == i ? "active" : "")">
                            <a class="page-link shadow-none" href="@Url.Action("Applicants", "Company" , new { jobId = Model.Job.JobId, status = ViewBag.Status.ToArray(), pageNumber = i, pageSize = Model.Pagination.PageSize, sortOrder = ViewBag.SortOrder, search = ViewBag.Search })">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.Pagination.PageNumber == Model.Pagination.TotalPages ? "disabled" : "")">
                        <a class="page-link shadow-none" href="@nextUrl">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex flex-column justify-content-center align-items-center mb-5 pb-5">
            <div class="mt-3 pt-3">
                <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/64dc4c904c175_no_search_result.png" style="height: 200px">
            </div>
            <h4 class="text-center">No Applicants Found</h4>
        </div>
    }
}
else
{
    <div class="d-flex flex-column justify-content-center align-items-center mb-5 pb-5">
        <div class="mt-3 pt-3">
            <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/64dc4c904c175_no_search_result.png" style="height: 200px">
        </div>
        <h4 class="text-center">No Applicants Found</h4>
    </div>
}

<div class="modal fade" id="applicantFilterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered p-5">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="filterModalLabel">Application Filter</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="filterApplicant(@ViewBag.PageSize)" id="applicantFilterForm">
                <input type="hidden" name="search" value=@ViewBag.Search />
                <input type="hidden" name="jobId" value="@Model.Job.JobId" />
                <input type="hidden" name="sortOrder" value=@ViewBag.SortOrder />

                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="inputStatus" class="col-sm-4 col-form-label fw-bold">Application Status</label>
                        <div class="col-sm-8 d-flex flex-wrap">
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus1" value="Applied" @applied>
                                <label class="form-check-label" for="inlineStatus1">Applied</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus2" value="Reviewed" @reviewed>
                                <label class="form-check-label" for="inlineStatus2">Reviewed</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus3" value="Interview Scheduled" @scheduled>
                                <label class="form-check-label" for="inlineStatus3">Interview Scheduled</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus4" value="Interviewed" @interviewed>
                                <label class="form-check-label" for="inlineStatus4">Interviewed</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus5" value="Job Offered" @offered>
                                <label class="form-check-label" for="inlineStatus5">Job Offered</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus6" value="Accepted" @accepted>
                                <label class="form-check-label" for="inlineStatus6">Accepted</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus7" value="Declined" @declined>
                                <label class="form-check-label" for="inlineStatus7">Declined</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus8" value="Rejected" @rejected>
                                <label class="form-check-label" for="inlineStatus8">Rejected</label>
                            </div>
                            <div class="form-check form-check-inline m-1 w-100">
                                <input name="status" class="form-check-input shadow-none" type="checkbox" id="inlineStatus9" value="Withdrawn" @withdrawn>
                                <label class="form-check-label" for="inlineStatus9">Withdrawn</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick='seachApplicants("@ViewBag.Search", @Model.Job.JobId, "@ViewBag.SortOrder", @Html.Raw(JsonConvert.SerializeObject(ViewBag.Status ?? new List<string>())), true, "@ViewBag.PageSize")' class="btn border border-2 shadow-none">Clear</button>
                    <button type="reset" class="btn btn-secondary shadow-none">Reset</button>
                    <button type="submit" class="btn btn-primary shadow-none">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>