@model Unstop.Models.DTO.ForgotPasswordModel;

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid login-page">
    <div class="position-absolute z-n1 login-page-right-bg">
        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/right-vector.png?d=1194x852" alt="login-right" class="" />
    </div>

    <div class="d-flex justify-content-center align-items-center login-page-form">
        <div class="container border border-1 rounded-2 shadow-lg bg-white px-lg-3 px-1 py-5 d-flex justify-content-around">
            <div id="carouselExampleIndicators" class="carousel slide login-page-form-left p-lg-5 p-md-3 p-1" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-1.png?d=734x734" alt="login-middle">
                    </div>
                    <div class="carousel-item">
                        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/login-img-6.png?d=734x734" alt="login-middle">
                    </div>
                </div>
            </div>

            <div class="login-page-form-right d-flex flex-column justify-content-around align-items-center w-100 p-lg-5 m-lg-5 p-md-3 m-md-3 p-1 m-1">
                <div class="d-flex flex-column justify-content-start w-100">
                    <h3>Reset Password</h3>
                    <h6 class="text-muted">Create a new password to login your account.</h6>
                </div>

                <form method="post" class="w-100">
                    <div class="form-floating mb-3 position-relative">
                        <input type="email" asp-for="@Model.Email" value="@Model.Email" class="form-control bg-transparent border border-1 border-primary rounded-2 shadow-none" id="floatingEmail" placeholder="Email ID" disabled>
                        <label for="floatingEmail">Email ID</label>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" asp-for="@Model.NewPassword" class="form-control bg-transparent border border-1 border-primary rounded-2 shadow-none" id="floatingPassword1" placeholder="New Password">
                        <label for="floatingPassword1">New Password</label>
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                        <div class="eye-icon position-absolute top-0 end-0 mx-3 my-3">
                            <i class="fa-solid fa-eye fs-5 text-muted mt-1" id="togglePassword1" onclick="showPassword1()"></i>
                        </div>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" asp-for="@Model.ConfirmPassword" class="form-control bg-transparent border border-1 border-primary rounded-2 shadow-none" id="floatingPassword2" placeholder="Confirm Password">
                        <label for="floatingPassword2">Confirm Password</label>
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        <div class="eye-icon position-absolute top-0 end-0 mx-3 my-3">
                            <i class="fa-solid fa-eye fs-5 text-muted mt-1" id="togglePassword2" onclick="showPassword2()"></i>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-pill shadow-none w-100 mb-3" type="submit"><b>Reset</b></button>
                    <a asp-action="Login" asp-controller="Home" class="btn border border-1 rounded-pill shadow-none w-100 text-primary fw-bold"><i class="fa-solid fa-chevron-left me-2"></i>Back to login</a>
                </form>
            </div>
        </div>
    </div>

    <div class="position-absolute z-n1 login-page-left-bg">
        <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/login/left-vector.png?d=1190x874" alt="login-left" class="" />
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function showPassword1() {

            const togglePassword = document.querySelector("#togglePassword1");
            const password = document.querySelector("#floatingPassword1");

            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            togglePassword.classList.toggle('fa-eye');
            togglePassword.classList.toggle('fa-eye-slash');
        }

        function showPassword2() {

            const togglePassword = document.querySelector("#togglePassword2");
            const password = document.querySelector("#floatingPassword2");

            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            togglePassword.classList.toggle('fa-eye');
            togglePassword.classList.toggle('fa-eye-slash');
        }
    </script>
}